/* App.css */

/* Apply a background gradient */
body {
  background: linear-gradient(to bottom, #3498db, #2c3e50);
  margin: 100px;
  padding: 100px;
  font-family: Arial, sans-serif;
  color: #fff;
}



/* Center the app content */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(70vh - 120px);
}
