/* Style the Exhibit components */
.Exhibit {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  padding: 21px;
  margin: 15px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.Exhibit:hover {
  transform: scale(1.02);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}