
/* Style the PacketLatencyComponent */

.publicIpComponent {
    display: inline-block;
    padding: 10px;
    font-size: 3rem;
    background-color: #bb8799;
    border-radius: 10px;
    color: #fff;
  }
